menu "Wendy USJ (USB Serial/JTAG)"
    config WENDY_USJ
        bool "Enable USB Serial/JTAG wire channel"
        depends on SOC_USB_SERIAL_JTAG_SUPPORTED
        default y if SOC_USB_SERIAL_JTAG_SUPPORTED
        help
            Installs the USB Serial/JTAG driver which is used to output
            logs but also to take control via the WendyCom protocol.
endmenu
